GITHUB_CLIENT_ID: ""
GITHUB_CLIENT_SECRET: ""

development:
  DATABASE_USERNAME: ""
  DATABASE_PASSWORD: ""
  PRODUCTION_HOST: 127.0.0.1
  DATABASE_PORT: 3306

test:
  DATABASE_USERNAME: ""
  DATABASE_PASSWORD: ""
  PRODUCTION_HOST: 127.0.0.1
  DATABASE_PORT: 3306

production:
  DATABASE_USERNAME: ""
  DATABASE_PASSWORD: ""
  PRODUCTION_HOST: 127.0.0.1
  DATABASE_PORT: 3306
